*{
	margin: 0px;
}
body, html {
    height: 100%;
}

/*Body*/
	/*Header*/
body header{
    display: inline-block;
    background-color: #003200;
    width: 100%;
    height: auto;
}
.link{
    display: inline-block;
    background-color: yellow;
    padding: 5px 10px 5px 10px;
    margin: 40px 1px 5px 5px;
    border-radius: 7px 7px 0px 0px;
    float: right;
}
.link a{
    text-decoration: none;
    font-size: larger;
    color: black;
}

/*Main*/
    /*How To Grow*/
.howtogrow{
    display: flex;
    height: 50%;
    width: 100%;
	justify-content: center;
	flex-direction:row;
}
.howtogrow p{
    display: block;
    float: left;
    height: 90%;
    width: 14%;
    border: 4px solid green;
    border-radius: 10px;
    padding: 10px;
	margin-right:2%
}
.howtogrow p:nth-child(4){
	display: none;
}
.howtogrow p:nth-child(5){
	display: none;
}
    /*About Me*/
        /*Nothing to do*/
    /*Portfolio*/
main{
    display: block;
    height: 60%;
    width: 100%;
}
main section:first-child{
    display: inline-block;
    float: left;
    width: 30%;
    height: 100%;
}
#frame{
    display: inline-block;
    width: 70%;
    height: 70%;
    margin-left: 20%;
    background-color: #80c5bd;
    background-repeat: no-repeat;
    background-size: 100% 100%;
	margin-top:10%
}
.row{
    display: inline-block;
    height: 90%;
    width: 60%;
}
.row img{
    width: 100px;
    height: 100px;
    margin-top: 2%;
}

/*Footer*/
footer{
    background-color: green;
}
footer p:first-child{
    text-align: center;
    padding-top: 10px;
    color: white;
}footer p:last-child{
     text-align: center;
     padding-bottom: 20px;
     color: white;
 }
footer p a{
    color: blue;
}